
.errorMessage {
    color : #e9b96e;
    font-size : 20px;
}

.validMessage {
    color : #73d216;
    font-size : 20px;
}

.hiddenAdmin {
    display : none;	
}

.youSyncLogo {
    width : 20%;
}

.labelRegister {
    font-size : 20px;
}

.wrapper {
    overflow: scroll;
    }

fa-plus-square {
	color : green;
}

.btn-secondary {
    color : black;	
}